/* Google fonts import to go here if required*/

/* Wildcard selector to remove default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* define fonts */
@font-face {
    font-family: cupcake;
    src: url(../fonts/Cupcake.ttf);
    font-display: swap;
}

@font-face {
    font-family: TheArtistSans;
    src: url(../fonts/TheArtistSans.otf);
    font-display: swap;
}

/* Add flexbox styling to whole page for responsiveness */
.page-container {
    display: flex;
    /* Makes flex elements place vertically */
    flex-direction: column;
    /* Forces content to take up all vertical height of screen */
    height: 100vh;
    justify-content: space-between;
}

header, main, footer {
    text-align: center;
    padding: 10px;
}

header {
    background-color: red;
    letter-spacing: 0.2em;
}

h1 {
    font-family: cupcake;
    font-size: 3em;
}

h2 {
    font-family: TheArtistSans;
    font-size: 2em;
}

main {
    background-color: blue;
    /* Forces main section to take up most of page container space */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: green;
}

.quiz-container {
    border: 2px white solid;
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quiz-quiz {
    border: 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}