/* Google fonts import to go here if required*/

/* Wildcard selector to remove default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* define fonts */
@font-face {
    font-family: cupcake;
    src: url(../fonts/Cupcake.ttf);
    font-display: swap;
}

@font-face {
    font-family: TheArtistSans;
    src: url(../fonts/TheArtistSans.otf);
    font-display: swap;
}

/* Add flexbox styling to whole page for responsiveness */
.page-container {
    display: flex;
    /* Makes flex elements place vertically */
    flex-direction: column;
    /* Forces content to take up all vertical height of screen */
    height: 100vh;
    justify-content: space-between;
    background-image: url("../images/question_marks_background_22.jpg");
}

header, main, footer {
    text-align: center;
    padding: 10px;
}

header {
    letter-spacing: 0.2em;
    padding-top: 1.7em;
}

h1 {
    font-family: cupcake;
    font-size: 3em;
    /*make smaller for smaller screens with media query*/
}

h2 {
    font-family: TheArtistSans;
    font-size: 2em;
    /*make smaller for smaller screens with media query*/
}

h3 {
    font-family: TheArtistSans;
    font-size: 2.3vw;
    /*make smaller for smaller screens with media query*/
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    padding: 10px;
    /*make smaller for smaller screens with media query*/
}

main {
    /* Forces main section to take up most of page container space */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
}

.quiz-container {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(141,102,222, 0.7);
}

.quiz-quiz {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.quiz-options {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 490px;
}

.quiz-result {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3vw;
}

/* Quiz option button styles */
.option-btn {
    font-size: 1.3vw;
    padding: 8px 15px;
    border: 3px;
    border-style: groove;
    border-radius: 10px;
    margin: 6px 0;
}

/*next and new quiz button styles*/
.next-btn, .new-quiz-btn {
    font-size: 1.3vw;
    padding: 8px 15px;
    border: 3px;
    border-style: groove;
    border-radius: 10px;
    margin: 6px 0;
}

.hidden {
    display: none;
}


/*tablets and larger smartphones*/
@media (max-width: 769px) {
    .option-btn {
        font-size: 1.7vw;
        padding: 6px 11px;
        border: 2px;
        border-style: groove;
        border-radius: 7px;
        margin: 4px 0;
    }
    .next-btn, .new-quiz-btn {
        font-size: 1.7vw;
        padding: 6px 11px;
        border: 2px;
        border-style: groove;
        border-radius: 7px;
        margin: 4px 0;
    }
    .quiz-result {
        font-size: 1.7vw;
    }
}

/*smaller smartphones*/
@media (max-width: 481px) {
    /*header*/
    h1 {
        font-size: 1.7em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 3.5vw;
        padding: 0 10px;
    }
    .option-btn {
        font-size: 3vw;
        padding: 6px 11px;
        border: 2px;
        border-style: groove;
        border-radius: 7px;
        margin: 4px 0;
    }
    .next-btn, .new-quiz-btn {
        font-size: 3vw;
        padding: 6px 11px;
        border: 2px;
        border-style: groove;
        border-radius: 7px;
        margin: 4px 0;
    }
    .quiz-result {
        font-size: 3vw;
    }
}